<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>個人ページ</title>

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap-theme.min.css}"/>
    <link rel="stylesheet" href="../../static/css/theme.css" th:href="@{/css/theme.css}"/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="./index.html" th:href="@{/}">実験場</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">マイページ</a></li>
                <li>
                    <a href="#" onclick="document.getElementById('logoutForm').submit();">ログアウト</a>
                    <form id="logoutForm" action="../index.html" th:action="@{/logout}" method="post">
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section>
    <h1><span sec:authentication="name">ユーザー</span>の個人ページ</h1>

    ログインしてないと表示されないページ。

    <p>メールアドレス: <span th:text="${account.mailAddress.value}">aaa@bbb.ccc</span></p>
    <p>作成日時: <span th:text="${#temporals.format(account.createdDate.value, 'yyyy-MM-dd HH:mm:ss')}">2000/10/10</span></p>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"
        th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
</body>
</html>